.create-post-button {
    text-align: center;
}

.create-post-link {
    display: flex;
    justify-content: center;
    font-size: large;
    text-decoration: none;
}

.edit-link {
    text-decoration: none;
}

.view-link {
    text-decoration: none;
}

.posts-header {
    display: flex;
    justify-content: center;
}

.search-bar {
    margin-left: 50%;
}
